@model 專題.Models.EFModels.ChatContent

@{
    ViewBag.Title = "Delete";
}

<h2>刪除</h2>


<div>
    <h4>ChatContent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChatRoom.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatRoom.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SentTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SentTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChatContent1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatContent1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回到清單", "Index")
        </div>
    }
</div>
