@model 專題.Models.ViewModels.OrderVM

@{
    ViewBag.Title = "Details";
}

<h2>訂單</h2>

<div>
	<h4>@Html.DisplayFor(model => model.OrderNumber)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberId)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UseCoupon)
        </dt>

		<dd>
			@Html.DisplayFor(model => model.CouponName)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderContent)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateAt)
        </dd>

    </dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
