@model 專題.Models.EFModels.Forum_SectionBranch1Topics

@{
    ViewBag.Title = "Delete";
}

<h2>刪除標題</h2>

<h3>是否要刪除此標題</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           分支名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumSectionBranch.branchName)
        </dd>

        <dt>
          標題
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic)
        </dd>

        <dt>
           文章狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回到標題管理", "Index")
        </div>
    }
</div>
