@model IEnumerable<專題.Models.EFModels.Forum_SectionBranch1Topics>

<p>
    @Html.ActionLink("新增標題", "Create")
</p>
<table class="table">
    <tr>
        <th>
           分支名稱
        </th>
        <th>
            標題名稱
        </th>
        <th>
           標題狀態
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForumSectionBranch.branchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.ActionLink("詳情", "Details", new { id = item.id }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
