@model 專題.Models.EFModels.Product

@{
    ViewBag.Title = "Delete";
}

<h2 class="ml-4 text-danger">刪除</h2>

<h3 class="ml-4  text-danger">是否確定刪除?</h3>
<div class="ml-4">
    <h4>商品</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            品牌
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Brand1)
        </dd>

        <dt>
            顏色
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Color1)
        </dd>

        <dt>
            商品名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            商品介紹
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductIntroduce)
        </dd>

        <dt>
            價錢
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            圖片連結
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
