@using X.PagedList.Mvc.Fluent

@model X.PagedList.IPagedList<專題.Models.EFModels.Product>

@{
    ViewBag.Title = "Index";
    var Brands = ViewBag.Brands as IEnumerable<SelectListItem>;
    var ProductName = ViewBag.ProductName as string;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form method="get" class="ml-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>Search</h3>
                <div class="row">
                    <div class="col-md-4">分類:@Html.DropDownList("Brand_Id", Brands, new { @class = "form-control" })</div>
                    <div class="col-md-4">商品名稱:<input type="text" name="productName" class="form-control" value="@ProductName"></div>
                    <div class="row mt-md-4" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
                        <input type="submit" class="btn btn-primary" value="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>
<table class="table">
    <tr>
        <th>
            品牌
        </th>
        <th>
            顏色
        </th>
        <th>
            商品名稱
        </th>
        <th>
            商品介紹
        </th>
        <th>
            價錢
        </th>
        <th>
            圖片
        </th>
        <th>
            操作
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Brand1)
            </td>
            <td>
                @Html.DisplayFor((modelItem => item.Color.Color1),new {@class=""})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIntroduce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@item.ImageUrl" alt="Product Image" id="imgSize" width="200" height="200">
            </td>
            <td>
                <div class="btn-group-vertical">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                </div>
                
            </td>
        </tr>
    }

</table>



<div class="container align-items-end">
    @(Html.Pager(Model)
    .Url(page => Url.Action("Index", new { pageNumber=page, Brand_Id = ViewBag.Brand_Id, ProductName = ViewBag.ProductName }))
    .ClassicPlusFirstAndLast())
</div>

