@model 專題.Models.EFModels.Registration_Information

@{
    ViewBag.Title = "Details";
}

<h2>參賽者</h2>

<div>
    @*<h4>Registration_Information</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Information.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information.Gender)
        </dt>

        <dd>
            @{var value = Model.Information.Gender;
                var source = "";
                source = value == true ? "男" : "女";
            }
            @source
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Information.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Information.Address)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
