@using X.PagedList.Mvc.Fluent
@using 專題.Models.EFModels

@model X.PagedList.IPagedList<Registration_Information>

@{
    ViewBag.Title = "Index";
    var contests = ViewBag.Contest as IEnumerable<SelectListItem>;
    var informationName = ViewBag.InformationName as string;
}

<h2 class="ml-2">報名表</h2>

<form method="get" class="ml-4">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>@*Search*@</h3>
                <div class="row">
                    <div class="col-md-4">活動名稱:@Html.DropDownList("contestId", contests, new { @class = "form-control" })</div>
                    <div class="col-md-4">參賽人姓名:<input type="text" name="informationName" class="form-control" value="@informationName"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            報名人
        </th>
        <th>
            報名賽事
        </th>
        <th>
            組別
        </th>
        <th>
            參賽人
        </th>
        <th>
            性別
        </th>
        <th>
            繳費狀況
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Member.Name)
            </td>
            <td>                
                @Html.DisplayFor(modelItem => item.Registration.Contest_Category.Contest.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration.Contest_Category.Category.Category1)
                @Html.DisplayFor(modelItem => item.Registration.Contest_Category.Category.Distance)K
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information.Name)
            </td>
            <td>
                @{var value = item.Information.Gender;
                    var source = "";
                    source = value == true ? "男" : "女";
                }
                @source
            </td>
            <td>
                @{var pay = item.Registration.PaymentStatus;
                    var status = "";
                    status = pay == true ? "已繳費" : "未繳費";
                }
                @status
            </td>

            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                @Html.ActionLink("參賽人資料", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@(Html.Pager(Model)
    .Url(page => Url.Action("Index", new { pageNumber=page, contestId = ViewBag.Contest2, informationName = ViewBag.InformationName }))
    .ClassicPlusFirstAndLast())

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
