@model 專題.Models.EFModels.ForumSection1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForumSection1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mainBoardAdministrator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mainBoardAdministrator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mainTopicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mainTopicId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
