@model 專題.Models.EFModels.Forum_S1MainTopicsBranch1Thread

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum_S1MainTopicsBranch1Thread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.essayId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.essayId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topicState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topicState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
