@model IEnumerable<專題.Models.EFModels.Forum_S1MainTopicsBranch1Thread>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.boardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.essayId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topicState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replyContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replyTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replyState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.boardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.essayId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topicState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.replyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.replyContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.replyTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.replyState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
