
@{
    ViewBag.Title = "CustomerService";
}

<h2>CustomerService</h2>

<li>@Html.ActionLink("留言", "Index", "CustomerFeedbacks")</li>
<li>@Html.ActionLink("問題種類", "Index", "QuestionTypes")</li>
<li>@Html.ActionLink("常見問題", "Index", "CommonQuestions")</li>
<li>@Html.ActionLink("常見回復", "Index", "CommonAnswers")</li>
<li>@Html.ActionLink("自動回復", "Index", "AutoReplies")</li>
<li>@Html.ActionLink("自動回復關鍵字", "Index", "AutoReplyKeyWords")</li>
<li>@Html.ActionLink("快速回復", "Index", "QuickReplies")</li>
<li>@Html.ActionLink("快速回復關鍵字", "Index", "QuickReplyKeyWords")</li>
<li>@Html.ActionLink("聊天室", "Index", "ChatRooms")</li>
<li>@Html.ActionLink("聊天室自動回復內容", "Index", "ChatRoomAutoReplies")</li>
<li>@Html.ActionLink("聊天室內容", "Index", "ChatContents")</li>



