@model 專題.Models.EFModels.ForumSectionBranch

@{
    ViewBag.Title = "Delete";
}

<h2>刪除討論版確認</h2>

<h3>你確定要刪除此討論版嗎?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            討論版名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>

        <dt>
            所屬區塊
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumSection.sectionName)
        </dd>



        <dt>
            管理者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("回到討論版管理", "Index")
        </div>
    }
</div>
