@model 專題.Models.EFModels.ForumSectionBranch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForumSectionBranch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ForumSection.sectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumSection.sectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.branchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sectionAdministrator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionAdministrator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
