@model 專題.Models.EFModels.ForumSectionBranch

@{
    ViewBag.Title = "Details";
}

<h2>討論版詳細資料</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          區塊名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumSection.sectionName)
        </dd>

        <dt>
            討論版名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>

        <dt>
            管理者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("修改討論版", "Edit", new { id = Model.id }) |
    @Html.ActionLink("回到討論版管理", "Index")
</p>
