@model 專題.Models.EFModels.ForumSectionBranch

@{
    ViewBag.Title = "Details";
}

<h2>詳情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          區塊名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForumSection.sectionName)
        </dd>

        <dt>
           分支管理者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
           分支名稱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.branchName)
        </dd>

        <dt>
           區塊管理者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sectionAdministrator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.id }) |
    @Html.ActionLink("回到分支管理", "Index")
</p>
