@model 專題.Models.EFModels.ForumSectionBranch

@{
    ViewBag.Title = "Edit";
}

<h2>修改分支</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.sectionNameId, "區塊名稱", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("sectionNameId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.sectionNameId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.branchName, "分支名稱", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.branchName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.branchName, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.administratorId, "區塊管理者", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("administratorId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.administratorId, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group" hidden>
        @Html.LabelFor(model => model.sectionAdministrator, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.sectionAdministrator, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.sectionAdministrator, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="修改" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("回到分支管理", "Index")
</div>

