@model IEnumerable<專題.Models.EFModels.ForumSectionBranch>

<p>
    @Html.ActionLink("新增討論版", "Create")
</p>
<table class="table">
    <tr>
        <th>
          區塊名稱
        </th>
        <th>
           討論版名稱
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ForumSection.sectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branchName)
        </td>
    
        <td>
            @Html.ActionLink("修改討論版", "Edit", new { id=item.id }) |
            @Html.ActionLink("討論版詳情", "Details", new { id=item.id }) |
            @Html.ActionLink("刪除討論版", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
