@model 專題.Models.EFModels.Forum_SectionBranch1TopicsThread

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Forum_SectionBranch1TopicsThread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forum_SectionBranch1Topics.Topic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum_SectionBranch1Topics.Topic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.topicState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topicState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.replyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyState)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
