@model 專題.Models.EFModels.Forum_SectionBranch1TopicsThread

@{
    ViewBag.Title = "Delete";
}

<h2>刪除</h2>

<h3>確定要刪除嗎</h3>
<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
          文章標題
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum_SectionBranch1Topics.Topic)
        </dd>

        <dt>
            回覆者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
            文章狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topicState)
        </dd>

        <dt>
          樓層
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyNumber)
        </dd>

        <dt>
           文章內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyContent)
        </dd>

        <dt>
            回覆時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyTime)
        </dd>

        <dt>
           回文狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyState)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確認此文" class="btn btn-default" /> |
            @Html.ActionLink("回到文章管理t", "Index")
        </div>
    }
</div>
