@model 專題.Models.EFModels.Forum_SectionBranch1TopicsThread

@{
    ViewBag.Title = "Details";
}

<h2>詳情</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
         文章標題
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum_SectionBranch1Topics.Topic)
        </dd>

        <dt>
          回覆者
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.Name)
        </dd>

        <dt>
           文章狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.topicState)
        </dd>

        <dt>
           樓層
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyNumber)
        </dd>

        <dt>
          文章內容
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyContent)
        </dd>

        <dt>
           回覆時間
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyTime)
        </dd>

        <dt>
           回覆狀態
        </dt>

        <dd>
            @Html.DisplayFor(model => model.replyState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.id }) |
    @Html.ActionLink("回到文章管理", "Index")
</p>
