@model IEnumerable<專題.Models.EFModels.Forum_SectionBranch1TopicsThread>
<p>
    @Html.ActionLink("新增文章", "Create")
</p>
<table class="table">
    <tr>
        <th>
            文章標題
        </th>
        <th>
            文章屬性
        </th>

        <th>
            回覆內容
        </th>
        <th>
            回覆時間
        </th>
        <th>
            回覆狀態
        </th>
        <th>
            留言者
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Forum_SectionBranch1Topics.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.topicState)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.replyContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.replyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.replyState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.replyMemberId)
            </td>
            <td>
                @Html.ActionLink("修改回覆內容", "Edit", new { id = item.id }) |
                @Html.ActionLink("詳細內容", "Detail", new { id = item.id })
                @Html.ActionLink("刪除回覆", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
