@model 專題.Models.EFModels.CustomerFeedback

@{
    ViewBag.Title = "Details";
}

<h2>詳細內容</h2>

<div>
    <h4>客戶回復</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionType.QuestionType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType.QuestionType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeedbackContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeedbackContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到清單", "Index")
</p>
