<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
@using PagedList.Mvc;
@using PagedList;
@model IEnumerable<專題.Models.EFModels.CustomerFeedback>

@{
    ViewBag.Title = "Index";
}
@{

    var questionTypes = ViewBag.QuestionTypes as IEnumerable<SelectListItem>;
    var feedbackContent = ViewBag.FeedbackContent;
    var customerName = ViewBag.CustomerName;
    var email = ViewBag.Email;
}

<h2>留言一覽</h2>


<form method="get" >
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>搜尋</h3>
                <div class="row" id="searchForm">
                    <div class="col-md-4">問題類型:@Html.DropDownList("questionTypeId", questionTypes, new { @class = "form-control"})</div>
                    <div class="col-md-4">問題內容:<input type="text" name="feedbackContent" class="form-control" value="@feedbackContent"  ></div>
                    <div class="col-md-4">客戶名稱:<input type="text" name="customerName" class="form-control" value="@customerName" ></div>
                    <div class="col-md-4">信箱:<input type="text" name="email" class="form-control" value="@email" ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
        <input type="submit" class="btn btn-primary" value="搜尋" />
        <button type="reset" id="resetbtn" >清空當前輸入</button>
        @Html.ActionLink("全部清空", "Index")
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType.QuestionType1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedbackContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.QuestionType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeedbackContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細內容", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id }) |
                @Html.ActionLink("回覆", "Reply", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new{ 
    pageNumber, 
    questionTypeId = ViewBag.QuestionTypes as IEnumerable<SelectListItem>, 
    feedbackContent = ViewBag.FeedbackContent, 
    customerName = ViewBag.CustomerName, 
    email = ViewBag.Email, pageSize = ViewBag.pageSize 
}))
<script>

    $("#resetbtn").on("click", function () {
        $("#searchForm input").val("");
        alert("123")
    })

</script>
