@model 專題.Models.EFModels.Forum_S1MainTopicBranch1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum_S1MainTopicBranch1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forum_S1MainTopicsBranch1Thread.replyContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum_S1MainTopicsBranch1Thread.replyContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boardNameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boardNameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.essayTopic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.essayTopic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
